body {
    background-color: #000000;
}

#contenedor-suc {
    display: block;
    margin: 3rem auto;
    font-family: 'Kanit', sans-serif;
    max-width:100rem;
    height:50rem;
}

    #contenedor-suc h1 {
        color: #ED7650;
        font-size: 3rem;
    }

    #contenedor-suc p {
        float: left;
        width: 30rem;
        word-wrap: break-word;
        font-size: 1.8rem;
        color:#FFFFFF;
        margin-right:3rem;
    }

    #contenedor-suc iframe{
        float:right;
        width:60rem;
        height:40rem;
    }