body {
    background-color: #000000;
}

.cont-perfil {
    max-width: 80rem;
    margin: 5rem 4rem;
}

.items, h2 {
    color: #FFFFFF;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.msglbl {
    font-family: 'Kanit', sans-serif !important;
}
